@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  font-family: "S-CoreDream-5", sans-serif;
}

/* 스크롤바 커스텀 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f7f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73aace;
}

/*로딩*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.5s;
}

.loading .circle {
  display: block;
  width: 100px;
  height: 100px;
  border: 7px solid powderblue;
  border-radius: 50px;
  border-right: 7px solid white;
  -webkit-animation: loading 1.5s infinite linear;
          animation: loading 1.5s infinite linear;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*네브바*/
.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  transition: all 0.4s;
}
.nav.on {
  padding: 15px;
  background: #fff;
}
.nav .logo a {
  display: block;
  width: 100%;
  padding: 0 20px;
  color: #000;
  font-weight: 600;
  font-family: "Lexend Peta", sans-serif;
  font-size: 32px;
}
.nav .navMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin-right: 50px;
  align-items: center;
}
.nav .navMenu li {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}
.nav .navMenu li a {
  display: block;
  width: 100%;
}
.nav .navMenu li span {
  font-weight: 400;
  font-family: "Lexend Peta", sans-serif;
  position: relative;
}
.nav .navMenu li span:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 555px;
  background: #444;
  transition: all 0.7s;
}
.nav .navMenu li.active span:after, .nav .navMenu li:hover span:after {
  width: 120%;
}
section {
  width: 100%;
  position: relative;
}

.title {
  font-weight: 600;
  font-family: "Lexend Peta", sans-serif;
  font-size: 50px;
}

/*홈 시작*/
#home {
  width: 100%;
  height: 100vh;
  background: url("./img/home_background.png") no-repeat center;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .homeWrap {
  width: 100%;
  overflow: hidden;
}
#home .homeWrap img {
  width: 25%;
}
#home .homeWrap h1 {
  font-family: "Recipekorea";
  font-size: 28px;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  color: #444;
}
#home .homeWrap h1 span {
  color: #000;
  font-weight: bold;
  font-size: 36px;
}

/*어바웃 시작*/
#about {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .aboutWrap {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  overflow: hidden;
}
#about .aboutWrap .title {
  margin: 30px auto;
  text-align: left;
  padding-bottom: 60px;
}
#about .aboutWrap .aboutLeft {
  width: 44%;
  margin-right: 6%;
  float: left;
}
#about .aboutWrap .aboutLeft .aboutText {
  display: flex;
  justify-content: space-between;
  padding: 60px 10px;
  border-top: 1px solid #000;
}
#about .aboutWrap .aboutLeft .aboutText > p {
  width: 40%;
  color: #003458;
  font-weight: bold;
  font-size: 1.1em;
  font-size: 20px;
}
#about .aboutWrap .aboutLeft .aboutText > ul {
  width: 60%;
  font-size: 16px;
  line-height: 1.7em;
}
#about .aboutWrap .aboutRight {
  width: 48%;
  margin-left: 2%;
  float: left;
}
#about .aboutWrap .aboutRight .aboutMe {
  margin-bottom: 70px;
}
#about .aboutWrap .aboutRight .aboutMe p {
  font-size: 24px;
  margin-bottom: 25px;
}
#about .aboutWrap .aboutRight .aboutMe p span {
  font-weight: bold;
  display: block;
  font-size: 28px;
}
#about .aboutWrap .aboutRight .aboutMe ul li {
  font-size: 20px;
  line-height: 1.8em;
}
#about .aboutWrap .aboutRight .aboutSkill p {
  font-weight: 600;
  font-family: "Lexend Peta", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}
#about .aboutWrap .aboutRight .aboutSkill .aboutSkillImg {
  overflow: hidden;
}
#about .aboutWrap .aboutRight .aboutSkill .aboutSkillImg img {
  width: 100px;
}

/*work시작*/
#work {
  padding: 100px 0;
  background: #f6f7f9;
}
#work .workWrap {
  width: 80%;
  margin: 0 auto;
}
#work .workWrap .title {
  text-align: center;
  margin: 50px auto;
  margin-top: 20px;
}
#work .workWrap .title span {
  color: #666;
  display: block;
  font-size: 32px;
}
#work .workWrap .workList {
  width: 100%;
  overflow: hidden;
}
#work .workWrap .workList .workItem {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 45%;
  margin: 50px 2.5%;
  float: left;
  cursor: pointer;
}
#work .workWrap .workList .workItem * {
  transition: opacity 0.4s;
}
#work .workWrap .workList .workItem .workItemBg {
  padding-top: 50%;
}
#work .workWrap .workList .workItem .workItemBg.work1 {
  background: url("./img/work1.png") center center no-repeat;
  background-size: 70%;
}
#work .workWrap .workList .workItem .workItemBg.work2 {
  background: url("./img/work2.png") center center no-repeat;
  background-size: 70%;
}
#work .workWrap .workList .workItem .workItemBg.work3 {
  background: url("./img/work3.png") center center no-repeat;
  background-size: 70%;
}
#work .workWrap .workList .workItem .workItemBg.work4 {
  background: url("./img/work4.png") center center no-repeat;
  background-size: 70%;
}
#work .workWrap .workList .workItem .workItemBg.work5 {
  background: url("./img/work5.png") center center no-repeat;
  background-size: 70%;
}
#work .workWrap .workList .workItem .workText {
  position: absolute;
  top: 15%;
  left: 10%;
  opacity: 0;
}
#work .workWrap .workList .workItem .workText > * {
  margin-bottom: 15px;
}
#work .workWrap .workList .workItem .workText > *:last-child a {
  margin-right: 10px;
  color: #666;
  position: relative;
}
#work .workWrap .workList .workItem .workText > *:last-child a:hover {
  color: #000;
}
#work .workWrap .workList .workItem .workText > *:last-child a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #000;
}
#work .workWrap .workList .workItem .workText .workTit h1 {
  font-size: 20px;
}
#work .workWrap .workList .workItem .workText .workTit h1 span {
  color: #666;
}
#work .workWrap .workList .workItem .workText .workSkill h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
#work .workWrap .workList .workItem .workText .workSkill p {
  font-weight: 400;
  font-family: "Lexend Peta", sans-serif;
  color: #000;
  letter-spacing: -2px;
}
#work .workWrap .workList .workItem .workText .workSkill p span {
  display: block;
  font-weight: bold;
  font-size: 28px;
}
#work .workWrap .workList .workItem .workText .workInfo h3 {
  font-size: 16px;
  margin-bottom: 3px;
}
#work .workWrap .workList .workItem .workText .workInfo p {
  line-height: 1.7em;
}
#work .workWrap .workList .workItem .workText .workInfo p span {
  display: block;
}
#work .workWrap .workList .workItem .workText:last-child {
  margin-bottom: 10px;
}
#work .workWrap .workList .workItem:hover .workItemBg {
  opacity: 0.1;
}
#work .workWrap .workList .workItem:hover .workText {
  opacity: 1;
}

/*CONTACT 시작*/
#contact {
  padding: 100px 0;
  height: 100vh;
  overflow: hidden;
}
#contact .title {
  text-align: center;
  margin-bottom: 50px;
}
#contact .contactWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contactWrap .contactText p {
  text-align: center;
  font-size: 36px;
}
#contact .contactWrap .contactText h1 {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
}
#contact .contactWrap .contactText h1 span {
  display: block;
  font-weight: bold;
  font-size: 60px;
  margin: 20px auto;
}
#contact .footer {
  width: 100%;
  text-align: center;
  color: #666;
  padding: 10px 0;
  position: absolute;
  bottom: 5px;
}
#contact .footer span {
  font-weight: 600;
  font-family: "Lexend Peta", sans-serif;
}

/*











반응형시작











*/
@media (max-width: 1600px) {
  #about .aboutWrap .aboutLeft .title {
    margin: 0;
  }
  #about .aboutWrap .aboutLeft .aboutText {
    padding: 50px 0;
  }
  #about .aboutWrap .aboutRight .aboutSkill .aboutSkillImg img {
    width: 80px;
  }

  #work .workWrap .workList .workItem .workItemBg {
    padding-top: 60%;
  }
  #work .workWrap .workList .workItem .workText {
    font-size: 0.9em;
  }
  #work .workWrap .workList .workItem .workText .workTit h1 {
    font-size: 20px;
  }
  #work .workWrap .workList .workItem .workText .workTit h1 span {
    color: #666;
  }
}
@media (max-width: 1024px) {
  .nav .logo a {
    display: block;
    width: 100%;
    padding: 0 20px;
    color: #000;
    font-weight: 600;
    font-family: "Lexend Peta", sans-serif;
    font-size: 32px;
  }
  .nav .navMenu {
    width: 50%;
  }

  #home .homeWrap {
    width: 100%;
    overflow: hidden;
  }
  #home .homeWrap img {
    width: 50%;
  }
  #home .homeWrap h1 {
    font-family: "Recipekorea";
    font-size: 32px;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    color: #444;
  }
  #home .homeWrap h1 span {
    color: #000;
    font-weight: bold;
    font-size: 36px;
  }

  #about .aboutWrap {
    width: 90%;
  }
  #about .aboutWrap .title {
    font-size: 36px;
  }
  #about .aboutWrap .aboutLeft {
    margin-right: 4%;
  }
  #about .aboutWrap .aboutLeft .aboutText > p {
    font-size: 20px;
  }
  #about .aboutWrap .aboutLeft .aboutText > ul {
    width: 70%;
  }
  #about .aboutWrap .aboutRight {
    width: 52%;
    margin-left: 0;
    float: left;
  }
  #about .aboutWrap .aboutRight .aboutMe {
    margin-bottom: 70px;
  }
  #about .aboutWrap .aboutRight .aboutMe p {
    font-size: 24px;
    margin-bottom: 25px;
  }
  #about .aboutWrap .aboutRight .aboutMe p span {
    font-weight: bold;
    display: block;
    font-size: 28px;
  }
  #about .aboutWrap .aboutRight .aboutMe ul li {
    font-size: 20px;
  }

  #work {
    padding: 70px 0;
  }
  #work .workWrap {
    width: 90%;
    margin: 0 auto;
  }
  #work .workWrap .title {
    margin: 20px auto;
    margin-top: 20px;
  }
  #work .workWrap .workList {
    width: 100%;
    overflow: hidden;
  }
  #work .workWrap .workList .workItem {
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    width: 95%;
    margin: 30px 2.5%;
    cursor: pointer;
  }
  #work .workWrap .workList .workItem * {
    transition: opacity 0.4s;
  }
  #work .workWrap .workList .workItem .workItemBg {
    padding-top: 50%;
  }
  #work .workWrap .workList .workItem .workItemBg.work1 {
    background-size: 60%;
  }
  #work .workWrap .workList .workItem .workItemBg.work2 {
    background-size: 60%;
  }
  #work .workWrap .workList .workItem .workItemBg.work3 {
    background-size: 60%;
  }
  #work .workWrap .workList .workItem .workItemBg.work4 {
    background-size: 60%;
  }
  #work .workWrap .workList .workItem .workItemBg.work5 {
    background-size: 60%;
  }
  #work .workWrap .workList .workItem .workText {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  #work .workWrap .workList .workItem .workText .workTit h1 {
    font-size: 20px;
  }
  #work .workWrap .workList .workItem .workText .workTit h1 span {
    color: #666;
  }
  #work .workWrap .workList .workItem .workText .workInfo h3 {
    font-size: 16px;
    margin-bottom: 3px;
  }
  #work .workWrap .workList .workItem .workText .workInfo p {
    line-height: 1.7em;
  }
  #work .workWrap .workList .workItem .workText .workInfo p span {
    display: block;
  }
  #work .workWrap .workList .workItem .workText:last-child {
    margin-bottom: 10px;
  }
  #work .workWrap .workList .workItem:hover .workItemBg {
    opacity: 1;
  }
  #work .workWrap .workList .workItem:hover .workText {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .nav .navMenu {
    width: 70%;
    margin-right: 5px;
  }

  #home .homeWrap {
    width: 100%;
    overflow: hidden;
  }
  #home .homeWrap img {
    width: 50%;
  }
  #home .homeWrap h1 {
    font-family: "Recipekorea";
    font-size: 32px;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    color: #444;
  }
  #home .homeWrap h1 span {
    color: #000;
    font-weight: bold;
    font-size: 36px;
  }

  #about .aboutWrap {
    width: 80%;
  }
  #about .aboutWrap .title {
    font-size: 36px;
  }
  #about .aboutWrap .aboutLeft {
    width: 100%;
  }
  #about .aboutWrap .aboutLeft .aboutText > p {
    font-size: 20px;
  }
  #about .aboutWrap .aboutLeft .aboutText > ul {
    width: 70%;
  }
  #about .aboutWrap .aboutRight {
    width: 100%;
    margin-top: 50px;
    clear: both;
  }
  #work .workWrap {
    width: 90%;
    margin: 0 auto;
  }
  #work .workWrap .title {
    margin: 20px auto;
    margin-top: 20px;
  }
  #work .workWrap .workList {
    width: 100%;
    overflow: hidden;
  }

  #contact .contactWrap .contactText p {
    font-size: 32px;
  }
  #contact .contactWrap .contactText h1 {
    font-size: 32px;
  }
  #contact .contactWrap .contactText h1 span {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .nav .logo a {
    font-size: 20px;
  }
  .nav .navMenu {
    width: 80%;
    margin: 0;
  }
  .nav .navMenu li span {
    font-size: 16px;
  }

  #about .aboutWrap {
    width: 90%;
  }

  #work .workWrap {
    width: 90%;
    margin: 0 auto;
  }
  #work .workWrap .title {
    margin: 20px auto;
    margin-top: 20px;
  }
  #work .workWrap .workList {
    width: 100%;
    overflow: hidden;
  }
  #work .workWrap .workList .workItem .workText {
    transform: translate(0);
    left: 0;
  }

  #contact .contactWrap .title {
    font-size: 32px;
  }
  #contact .contactWrap .contactText p {
    font-size: 24px;
  }
  #contact .contactWrap .contactText h1 {
    font-size: 24px;
  }
  #contact .contactWrap .contactText h1 span {
    font-size: 32px;
  }
}/*# sourceMappingURL=index.css.map */