* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
}

body {
  font-size: 15px;
  color: #373737;
  font-family: NotoSans, AppleSDGothicNeo-Light, AppleGothic, Malgun Gothic,
    "맑은 고딕", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: bottom;
}

.none {
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

#header {
  width: 100%;
  position: fixed;
}

.header_sub {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.header_sub_menu {
  float: right;
  overflow: hidden;
  color: #fff;
}
.header_sub_menu li {
  font-size: 11px;
  float: left;
  position: relative;
  display: list-item;
}

.header_sub_menu li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 10px;
  background-color: #dddcdc;
  margin: 1px 0 0 0;
}

.header_sub_menu li:first-child:before {
  display: none;
}

.header_sub_menu li a {
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  padding: 9px 14px 9px 14px;
  display: inline-block;
  text-align: center;
  height: 30px;
  position: relative;
}

.header_sub_sns .sns_icon {
  width: 14px;
  padding: 9px 0;
  margin-left: 14px;
}

.header_sub_sns .sns_icon + a {
  margin-left: 4px;
}

.sns_icon::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(images/icon_sns_01.png) left top no-repeat;
  background-position: -28px 0;
  background-size: 56px 14px;
}

.sns_icon:last-child::before {
  background-position: -42px 0;
}
.gnb {
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 0 1.5%;
}

.logo h1::before {
  content: "";
  width: 109px;
  height: 46px;
  display: inline-block;
  background: url(images/h1_logo.png) left top no-repeat;
}

.gnb_menu {
  height: 100%;
}

.gnb_menu_deep {
  text-align: center;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.1px;
  float: left;
  height: 100%;
  position: relative;
}

.gnb_menu_tit {
  position: relative;
  display: flex;
  height: 90px;
  align-items: center;
  cursor: pointer;
}

.gnb_menu_tit::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: #f6ca00;
  transition: all 0.4s;
  margin: 0 auto;
  display: block;
}

.gnb_menu_tit:hover {
  color: #f6ca00;
}

.gnb_menu_tit:hover::after {
  width: 100%;
}

.gnb_menu_deep > ul {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid black;
}
