* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
img {
  vertical-align: bottom;
}

body {
  font: 0.75em "Noto Sans KR", sans-serif;
}
address {
  font-style: normal;
}

/*헤더 헤더*/
header.main {
  width: 100%;
  position: fixed;
  background: white;
  height: 100px;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
}
nav.main_n h1.sim {
  position: absolute;
  width: 13%;
  top: 30%;
  left: 10%;
}
nav.main_n h1.sim img {
  width: 100%;
}
nav.main_n ul.main_u {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
nav.main_n ul.main_u li.nav_li a {
  display: block;
  width: 20%;
  float: left;
  line-height: 40px;
}
/*nav.main_n ul.main_u:hover{height:300px; background:white;}*/
nav.main_n ul.main_u li.nav_li a:hover {
  border-bottom: 3px solid black;
  transition: 0.4s;
}
nav.main_n ul.main_u li.nav_li ul.sub_menu {
  width: 400%;
  overflow: hidden;
}
nav.main_n ul.main_u li.nav_li ul li {
  float: left;
  width: 16.666%;
}

/*네브 헤더*/

/*메인 슬라이드*/
div.main_s {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 2%;
}
div.main_s img {
  width: 100%;
}
/*메인 슬라이드*/

/*메뉴*/
section.menu_m {
  width: 100%;
  margin: 3.2% 0;
}
section.menu_m article.menu_f {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
section.menu_m article.menu_f div.menu_a {
  width: 100%;
  overflow: hidden;
}
section.menu_m article.menu_f div.menu_a a {
  display: block;
  transition-duration: 1s;
  font-size: 2em;
  color: black;
  text-align: center;
  padding: 11.5% 0;
  color: white;
  float: left;
  opacity: 0.8;
  transition-duration: 1s;
}

section.menu_m article.menu_f div.menu_a a.menu_large {
  width: 52.75%;
}
section.menu_m article.menu_f div.menu_a a.menu_small {
  width: 45.25%;
}

section.menu_m article.menu_f div.menu_a a:hover {
  opacity: 1;
}

section.menu_m article.menu_f div.menu_a a div {
  opacity: 0;
  transition-duration: 1s;
  background: rgba(0, 0, 0, 0.4);
}
section.menu_m article.menu_f div.menu_a a:hover div {
  opacity: 1;
}

section.menu_m article.menu_f div.menu_a a:nth-child(1) {
  margin-bottom: 2%;
  margin-right: 2%;
  background: #000 url(../img/index/menu/coffee.jpg) no-repeat -50% 0;
  background-size: cover;
}
section.menu_m article.menu_f div.menu_a a:nth-child(2) {
  margin-bottom: 2%;
  background: #000 url(../img/index/menu/deli.jpg) no-repeat;
  background-size: cover;
}
section.menu_m article.menu_f div.menu_a a:nth-child(3) {
  margin-right: 2%;
  background: #000 url(../img/index/menu/ma.jpg) no-repeat;
  background-size: 100%;
}
section.menu_m article.menu_f div.menu_a a:nth-child(4) {
  background: #000 url(../img/index/menu/cake.jpg) no-repeat;
  background-size: 100%;
}

section.menu_m article.menu_f div.c {
  margin-bottom: 2%;
}
section.menu_m article.menu_f div.menu_a div.l {
  margin-right: 2%;
}

/*메뉴*/

/*md*/
ul.md_a1 li {
  border: 1px solid black;
}
section.md_m {
  width: 100%;
  margin-bottom: 2%;
  background: #f0eee7;
  padding: 1% 0;
}
section.md_m article.md_f {
  width: 70%;
  overflow: hidden;
  margin: auto;
}
section.md_m article.md_f div.md_h1 {
  text-align: center;
  font-size: 2em;
}
section.md_m article.md_f ul.md_a1 {
  margin: 2% 0;
}
section.md_m article.md_f ul.md_a1 li.md_z {
  width: 25%;
  float: left;
  text-align: center;
}
section.md_m article.md_f ul.md_a1 li.md_z a img {
  display: block;
  width: 25%;
  text-align: center;
}
section.md_m div.md_icon {
  width: 100%;
  text-align: center;
}
/*md*/

/*brand film*/
div.brand_film {
  width: 100%;
  background: url("background/index_brandfilm.jpg") no-repeat 0 center;
  padding: 7% 0;
  margin-bottom: 2%;
  border: 1px solid black;
}
div.brand_film div.videos {
  width: 70%;
  margin: 0 auto;
}
/*brand film*/

/*어태치먼트*/

section.fom_m {
  background-image: url("background/index_two.png");
  width: 100%;
  background-size: cover;
  margin-bottom: 2%;
  padding: 2% 0;
  background-attachment: fixed;
}
section.fom_m article.fom_f {
  padding-left: 15%;
  width: 70%;
  margin: 0 auto;
  font-size: 3em;
}
section.fom_m article.fom_f p {
  color: white;
}
section.fom_m article.fom_f p span {
  color: #94070a;
  font-weight: bold;
  font-size: 1.5em;
}

/*폼으로*/

/*모바일*/
div.mobile {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2%;
}
div.mobile img {
  width: 100%;
  vertical-align: bottom;
}
/*모바일*/

/*이벤트*/

section.event_m {
  width: 100%;
  margin-bottom: 2%;
}
section.event_m article.event_f {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid black;
}
section.event_m article.event_f div.event_a {
  width: 47.5%;
  float: left;
  margin-right: 1.25%;
}
section.event_m article.event_f div.event_b {
  width: 50%;
  float: left;
  margin-left: 1.25%;
}
section.event_m article.event_f div.event_b div.event_r {
  width: 100%;
}
section.event_m article.event_f div.event_a div.event_l img {
  width: 100%;
  vertical-align: bottom;
}
section.event_m article.event_f div.event_b div.event_r img {
  width: 100%;
  vertical-align: bottom;
}
section.event_m article.event_f div.event_b div.a img {
  margin-bottom: 2.5%;
}

/*매장찾기 & 단체주문*/

section.store_find_m {
  width: 100%;
  height: 400px;
  background: url("background/index_two.jpg") no-repeat 100% 0;
  background-attachment: fixed;
  position: relative;
  margin: 7% 0;
}

section.store_find_m div {
  position: absolute;
  width: 380px;
  height: 380px;
  color: black;
  background: rgba(15, 15, 15, 0.5);
  border-radius: 50%;
  padding: 3%;
}
div p {
  text-align: center;
}
section.store_find_m div.store_find p img {
  width: 100%;
}
section.store_find_m div.store_find {
  left: 27.5%;
  top: -20%;
}
section.store_find_m div.many_sell {
  left: 52.5%;
  top: 20%;
}

/*매장찾기 & 단체주문*/

/*sns카드*/
section.sns {
  width: 100%;
  margin: 7% 0;
}
section.sns h1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
}
section.sns h1 img {
  width: 30%;
}

article.sns_f {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

article.sns_f div {
  float: left;
  width: 10%;
}

div.sns_card img {
  width: 100%;
  vertical-align: bottom;
}
/*sns카드*/

/*매장찾기*/
section.store_m {
  width: 100%;
  padding: 7%;
  background-image: url("background/index_store.jpg");
  background-position: 0 35%;
}
section.store_m article.store_f p {
  font-size: 4em;
  color: white;
  text-align: center;
}

/**/

/*footer*/
footer.end {
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #aaa;
}
footer.end div.end_f {
  width: 70%;
  margin: 0 auto;
}

footer.end div div.end_left {
  width: 50%;
  text-align: left;
  float: left;
  overflow: hidden;
}

div.end_f div.end_left p {
  margin-bottom: 1%;
  color: #999;
}
div.end_f div.end_left h1 {
  width: 35%;
  margin-bottom: 3%;
}
div.end_f div.end_left p.full {
  width: 80%;
  text-align: left;
}
div.end_f div.end_left p.full address {
  color: #999;
}
div.end_f div.end_left div.half {
  overflow: hidden;
  width: 100%;
}
div.end_f div.end_left div.half p {
  width: 34%;
  text-align: left;
  float: left;
}
div.end_f div.end_left h1 img {
  width: 100%;
}
div.end_f div.end_right {
  width: 50%;
  overflow: hidden;
}
div.end_f div.end_right ul.fotter_menu {
  width: 100%;
  overflow: hidden;
}
ul.fotter_menu li.fotter_menu_main {
  width: 20%;
  color: #999;
  float: left;
  text-align: center;
}
