header#page_background {
}
header#page_background > nav.joy_nav {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
}
header#page_background > nav.joy_nav > ul {
  overflow: hidden;
  width: 30%;
}
header#page_background > nav.joy_nav > ul > li {
  width: 33.333%;
  float: left;
}
header#page_background > nav.joy_nav > ul > li > a {
  width: 100%;
  display: block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}
header#page_background > nav.joy_nav > ul > li:hover > a {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}
