header#page_background {
  background: url(../img/joy/app_background.jpg) no-repeat center center;
  background-size: cover;
}

header#page_background > nav.joy_nav > ul > li > a[href="joy_app.html"] {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}
header#page_background::after {
  content: "APP";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em;
  font-size: 4em;
  font-weight: bold;
}

/*모바일 어플 소개 */

section.app_main {
  width: 100%;
}
section.app_main article.app_info {
  width: 100%;
  overflow: hidden;
  height: 350px;
  background: #f1f1f1;
  padding-top: 50px;
}
section.app_main article.app_info > div {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
section.app_main article.app_info > div > img {
  width: 25%;
  display: block;
  float: left;
  border: 1px solid #999;
  border-radius: 50px;
  margin-left: 5%;
}
section.app_main article.app_info > div > p {
  width: 55%;
  float: left;
  margin-left: 10%;
  font-size: 1.4em;
  color: #666;
  line-height: 1.7em;
}
section.app_main article.app_info > div > p > span {
  display: block;
  font-size: 1.6em;
  line-height: 5em;
  color: #222;
  font-weight: 550;
}

section.app_main article.app_icon {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}

section.app_main article.app_icon > div {
  width: 20%;
  margin: 0 6.5%;
  float: left;
  margin-bottom: 5%;
  font-size: 1em;
}
section.app_main article.app_icon > div > img {
  width: 80%;
  margin: 0 auto;
  display: block;
  border: 3px solid #333;
  border-radius: 50%;
  margin-bottom: 2%;
}
section.app_main article.app_icon > div > p {
  width: 100%;
  text-align: center;
  color: #888;
  letter-spacing: 0.05em;
}
section.app_main article.app_icon > div > p > span {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2.1em;
  font-size: 1.4em;
  color: black;
  font-weight: 550;
  color: black;
}

section.app_main > article.app_store {
  width: 100%;
  padding: 3% 0;
  background: #f5f5f5;
}
section.app_main > article.app_store > div {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
section.app_main > article.app_store > div > img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
section.app_main > article.app_store > div > div {
  width: 60%;
  float: left;
  padding: 7% 0;
}

section.app_main > article.app_store > div > div > p {
  width: 100%;
  font-size: 1.2em;
  line-height: 1.7em;
  color: #444;
}
section.app_main > article.app_store > div > div > p > span {
  display: block;
  width: 100%;
  line-height: 2.5em;
  font-size: 2em;
  color: black;
}
section.app_main > article.app_store > div > div > div {
  width: 100%;
  overflow: hidden;
}
section.app_main > article.app_store > div > div > div > a {
  width: 20%;
  display: block;
  float: left;
  margin: 3% 7%;
}
section.app_main > article.app_store > div > div > div > a > img {
  width: 100%;
  display: block;
}
section.app_main > article.app_store > div > div > ul {
  width: 100%;
  padding-left: 3%;
}
section.app_main > article.app_store > div > div > ul > li {
  width: 100%;
  font-size: 1.1em;
  list-style: disc;
  color: #555;
}
