header#page_background {
  background: url(../img/menu/menu_coffee_background.jpg) no-repeat center 78%;
  background-size: cover;
  border-bottom: 1px solid #f9f9f9;
}
header#page_background::after {
  content: "COFFEE & DRINK";
  display: block;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em;
  font-size: 4em;
  font-weight: bold;
}
header#page_background > nav.menu_nav {
  width: 100%;
  overflow: hidden;
}
header#page_background > nav.menu_nav > ul {
  width: 40%;
  margin: auto;
}
header#page_background > nav.menu_nav > ul > li {
  width: 20%;
  float: left;
}
header#page_background > nav.menu_nav > ul > li > a {
  color: #333;
}
header#page_background > nav.menu_nav > ul > li > a[href="menu_coffee.html"] {
  border-bottom: 3px solid black;
}

section.wrap_menu {
  width: 100%;
}
section.wrap_menu article.wrap_small {
  width: 70%;
  margin: 0 auto;
}
section.wrap_menu div.menu_list {
  width: 70%;
  margin: 5% auto;
  overflow: hidden;
  text-align: center;
}

section.wrap_menu div.menu_list label {
  font-size: 1.3em;
  display: block;
  width: 25%;
  float: left;
  cursor: pointer;
  padding: 1% 0;
  border: 1px solid black;
  color: #666;
  border-right: none;
}
section.wrap_menu div.menu_list label:last-child {
  border-right: 1px solid black;
}

article.wrap_small > div.all_list {
  display: none;
}
article.wrap_small > div.all_list > h1 {
  width: 100%;
  text-align: center;
  margin: 3% auto;
  font-size: 2.5em;
  position: relative;
  margin-bottom: 5%;
}

article.wrap_small > div.all_list > h1 > span {
  background: white;
  padding: 0 3%;
}
article.wrap_small > div.all_list > h1::after {
  content: "";
  position: absolute;
  height: 2px;
  background: black;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-);
}

article.wrap_small ul.list_box {
  width: 100%;
  overflow: hidden;
  display: block;
  padding: 2px;
}
article.wrap_small ul.list_box > li {
  width: 23%;
  float: left;
  margin-right: 2.666%;
  border: 1px solid #999;
  position: relative;
  text-align: center;
  margin-bottom: 3%;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px 2px #999;
}
article.wrap_small ul.list_box > li > a > img {
  width: 100%;
}
article.wrap_small ul.list_box > li > a {
  display: block;
  width: 100%;
  padding: 7%;
}
article.wrap_small ul.list_box > li:nth-child(4n) {
  margin: 0;
}

article.wrap_small ul.list_box > li > div.menu_hide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 15% 0;
}

p {
  color: black;
  font-size: 1.05em;
}
p:nth-child(1) {
  color: #000;
}
p:nth-child(2) {
}
p:nth-child(5) {
  font-size: 0.9em;
  color: #444;
}

article.wrap_small ul.list_box > li > div.menu_hide > p {
  color: black;
  font-size: 1.05em;
}
article.wrap_small ul.list_box > li > div.menu_hide > p:nth-child(4) {
  height: 50%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  color: #444;
}

article.wrap_small ul.list_box > li > div.menu_hide > i {
  width: 30%;
  border: 1px solid #999;
  height: 1px;
  display: block;
  margin: 4% auto;
}

article.wrap_small ul.list_box > li > a > p.menu_name {
  color: #d57b84;
}
article.wrap_small ul.list_box > li > div.menu_hide > p.menu_name {
  color: #d57b84;
}

article.wrap_small ul.list_box > li > div.menu_hide > div.number {
  width: 100%;
  overflow: hidden;
}
article.wrap_small ul.list_box > li > div.menu_hide > div.number > div {
  width: 25%;
  float: left;
  text-align: center;
}

article.wrap_small
  ul.list_box
  > li
  > div.menu_hide
  > div.number
  > div:nth-child(1) {
  margin-left: 12.5%;
}
article.wrap_small
  ul.list_box
  > li
  > div.menu_hide
  > div.number
  > div:nth-child(2) {
}
article.wrap_small
  ul.list_box
  > li
  > div.menu_hide
  > div.number
  > div:nth-child(3) {
  margin-right: 12.5%;
}

article.wrap_small
  ul.list_box
  > li
  > div.menu_hide
  > div.number
  > div.ml:after {
  content: "ml";
  display: block;
  color: #d57b84;
}
article.wrap_small
  ul.list_box
  > li
  > div.menu_hide
  > div.number
  > div.price:after {
  content: "￦";
  display: block;
  color: #d57b84;
}
article.wrap_small
  ul.list_box
  > li
  > div.menu_hide
  > div.number
  > div.kcal:after {
  content: "kcal";
  display: block;
  color: #d57b84;
}

article.wrap_small ul.list_box > li:hover > div.menu_hide {
  display: block;
}

input {
  display: none;
}
article.wrap_small > input#coffee:checked ~ div.coffee {
  display: block;
}
article.wrap_small > input#latte:checked ~ div.latte {
  display: block;
}
article.wrap_small > input#bl:checked ~ div.bl {
  display: block;
}
article.wrap_small > input#tea:checked ~ div.tea {
  display: block;
}

section.wrap_menu > article.wrap_small > div.menu_list > label:hover {
  color: white;
  background: black;
  font-weight: bold;
}
article.wrap_small
  > input#coffee:checked
  ~ div.menu_list
  > label[for="coffee"] {
  color: white;
  background: black;
  font-weight: bold;
}
article.wrap_small > input#latte:checked ~ div.menu_list > label[for="latte"] {
  color: white;
  background: black;
  font-weight: bold;
}
article.wrap_small > input#bl:checked ~ div.menu_list > label[for="bl"] {
  color: white;
  background: black;
  font-weight: bold;
}
article.wrap_small > input#tea:checked ~ div.menu_list > label[for="tea"] {
  color: white;
  background: black;
  font-weight: bold;
}
