* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666;
}
ul li {
  list-style: none;
}
img,
video {
  vertical-align: bottom;
}

body {
  font: 0.75em "Noto Sans KR", sans-serif;
  position: relative;
}
address {
  font-style: normal;
}

div#pop {
  position: absolute;
  top: 40px;
  left: 70px;
  z-index: 99;
}
/*헤더 헤더*/
header#main_small {
  display: none;
}
section#all_menu_box {
  display: none;
}
header.main {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 999;
}
header.main + * {
  margin-top: 100px;
}
header#page_background {
  padding: 10% 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}
header#page_background > nav {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
header#page_background > nav > ul {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
header#page_background > nav > ul {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
header#page_background > nav > ul > li {
  float: left;
}
header#page_background > nav > ul > li > a {
  width: 100%;
  display: block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}
header#page_background > nav > ul > li:hover > a {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}
/*옆 탑버튼*/

/*옆 탑버튼*/

/*퀵메뉴*/

div#quick {
  display: block;
  position: fixed;
  right: 15px;
  top: 25%;
  display: none;
  height: 100%;
}
div#quick > a {
  display: block;
  width: 52px;
  height: 52px;
  padding: 7px;
  position: relative;
  border-radius: 50%;
}
div#quick > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
div#quick > a > p {
  position: absolute;
  right: 30px;
  font-size: 1.3em;
  top: 0%;
  width: 80px;
  height: 100%;
  line-height: 47px;
  display: none;
}
div#quick > a:first-child > span {
  width: 60%;
  left: 20%;
  height: 2px;
  position: absolute;
  background: #000;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}
div#quick > a:first-child > span:nth-child(1) {
  top: 25%;
}
div#quick > a:first-child > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
div#quick > a:first-child > span:nth-child(3) {
  bottom: 25%;
}
a#top {
  position: absolute;
  top: 50%;
}

aside#side_menu {
  position: fixed;
  top: 0;
  right: -301px;
  width: 250px;
  height: 100%;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
aside#side_menu > h1 {
  width: 100%;
  text-align: center;
  height: 101.734px;
  line-height: 101.734px;
}
aside#side_menu > h1 > a > img {
  width: 80%;
}

aside#side_menu > ul {
  width: 100%;
  padding: 5% 10%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
}
aside#side_menu > ul:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
aside#side_menu > ul > li {
  width: 100%;
  text-align: right;
}
aside#side_menu > ul > li:first-child {
  font-size: 1.2em;
  font-weight: bold;
}
aside#side_menu > div {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}
aside#side_menu > div > a {
  width: 15%;
  float: right;
  overflow: hidden;
  margin: 1%;
}
aside#side_menu > div > a img {
  width: 100%;
  overflow: hidden;
}

/**/

/*서브헤더 롤링*/
div#roll_box {
  position: absolute;
  top: 0;
  left: 15%;
  width: 200px;
  height: 20px;
}
div.open_event {
  position: relative;
  width: 92%;
  height: 100%;
  overflow: hidden;
}
ul.notice-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  overflow: hidden;
  float: left;
}
ul.notice-list > li {
  overflow: hidden;
  width: 100%;
  height: 20px;
}
ul.notice-list > li > a {
  display: block;
  float: left;
  text-align: left;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.notice-list > li > span {
  display: block;
  float: left;
  width: 40%;
  text-align: right;
  display: none;
}

div#roll_button {
  float: right;
  width: 8%;
  height: 20px;
}
div#roll_button a {
  display: block;
  height: 10px;
  position: relative;
  font-size: 4px;
  line-height: 10px;
}
div#roll_button a img {
  width: 8px;
  line-height: 10px;
}

/*헤더 sns 회원가입 등등*/
header.main > nav.sub_nav {
  width: 70%;
  margin: 0 auto;
  text-align: right;
  line-height: 20px;
  overflow: hidden;
}
header.main > nav.sub_nav > a {
  vertical-align: bottom;
}
header.main img {
  width: 20px;
  vertical-align: middle;
}
header.main li > a {
  letter-spacing: 0.1em;
}
header.main > nav.header_nav {
  width: 100%;
  position: relative;
  height: 80px;
  vertical-align: middle;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

header.main > nav.header_nav > h1.sim {
  width: 12%;
  margin-left: 15%;
  float: left;
  line-height: 80px;
  text-align: center;
}
header.main > nav.header_nav > h1.sim img {
  width: 95%;
  vertical-align: middle;
}
nav.header_nav > ul.nav_list {
  width: 64%;
  float: left;
}
nav.header_nav > ul.nav_list > li.nav_li {
  width: 16.666%;
  float: left;
  margin: 0 auto;
}
nav.header_nav > ul.nav_list > li.nav_li:nth-child(1) {
  margin-left: 5%;
}
nav.header_nav > ul.nav_list > li.nav_li:nth-child(2) {
  width: 12%;
}
nav.header_nav > ul.nav_list > li.nav_li:nth-child(3) {
  width: 12%;
}
nav.header_nav > ul.nav_list > li.nav_li:nth-child(4) {
  width: 15%;
}
nav.header_nav > ul.nav_list > li.nav_li:nth-child(5) {
  width: 15%;
  margin-right: 8%;
}
nav.header_nav > ul.nav_list > li.nav_li:hover > ul {
  display: block; /*border-bottom:2px solid #999;*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
ul.nav_list > li.nav_li > ul.sub_menu:hover {
  display: block;
}

/*네브 대메뉴 a들*/
nav.header_nav > ul.nav_list > li.nav_li > a {
  display: block;
  width: 100%;
  font-size: 1.2em;
  line-height: 80px;
  text-align: center;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

nav.header_nav > ul.nav_list > li.nav_li > a > span {
  position: relative;
  font-size: 1.1em;
}
nav.header_nav > ul.nav_list > li.nav_li > a > span::after {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  width: 0;
  background: black;
  margin: 0;
  left: 50%;
  top: 130%;
  transition: 0.5s;
}
nav.header_nav > ul.nav_list > li.nav_li > a > span::before {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  width: 0;
  background: black;
  margin: 0;
  right: 50%;
  top: 130%;
  transition: 0.5s;
}

nav.header_nav > ul.nav_list > li.nav_li:hover span::after {
  width: 55%;
}
nav.header_nav > ul.nav_list > li.nav_li:hover span::before {
  width: 55%;
}

/*햄버거 버튼*/ /*
nav.header_nav>ul.nav_list>li.all_box{width:30px; height:30px; float:left; margin-top:20px;  border:2px solid #666; cursor:pointer; display:flex; align-items:center; justify-content:center; }
nav.header_nav>ul.nav_list>li.all_box>a{display:block; position:relative; width:18px; height:15px;}
nav.header_nav>ul.nav_list>li.all_box>a>span{width:100%; height:2px; position:absolute; background:#666;} 

nav.header_nav>ul.nav_list>li.all_box>a>span:nth-child(1){top:0%;}
nav.header_nav>ul.nav_list>li.all_box>a>span:nth-child(2){top:50%; transform:translateY(-50%);}
nav.header_nav>ul.nav_list>li.all_box>a>span:nth-child(3){bottom:0%;}



/*체크박스*/
nav.header_nav > ul.nav_list > li.all_box {
  float: left;
  margin-top: 20px;
  border: 2px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 3px;
}
nav.header_nav > ul.nav_list > li.all_box * {
  cursor: pointer;
}
nav.header_nav > ul.nav_list > li.all_box > label {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
nav.header_nav > ul.nav_list > li.all_box > label > span {
  width: 70%;
  left: 15%;
  height: 2px;
  position: absolute;
  background: #666;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
nav.header_nav > ul.nav_list > li.all_box > label > span:nth-child(1) {
  top: 20%;
}
nav.header_nav > ul.nav_list > li.all_box > label > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
nav.header_nav > ul.nav_list > li.all_box > label > span:nth-child(3) {
  bottom: 20%;
}

input#transform_box:checked ~ ul > li.all_box > label > span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input#transform_box:checked ~ ul > li.all_box > label > span:nth-child(2) {
  opacity: 0;
  left: 100%;
}
input#transform_box:checked ~ ul > li.all_box > label > span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

input#transform_box:checked ~ div#all_menu > div {
  height: 230px;
  opacity: 1;
}

/*체크박스로*/

/*햄버거버튼*/

/*햄버거전체메뉴*/
nav.header_nav > div#all_menu {
}
nav.header_nav > div#all_menu > div {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  opacity: 0;
}

nav.header_nav > div#all_menu > div > ul.all_menu_list {
  width: 67%;
  margin-left: 33%;
}
div#all_menu > div > ul > li > ul {
  width: 16.666%;
  float: left;
  text-align: center;
  margin: 0 auto;
  padding-top: 1%;
}
div#all_menu > div > ul > li > ul > li {
  width: 100%;
  font-size: 1.2em;
  text-align: left;
  line-height: 2.5em;
}

div#all_menu > div > ul > li > ul > li > a {
  position: relative;
  color: #666;
  display: block;
}
div#all_menu > div > ul > li > ul > li > a:hover {
  color: black;
  font-weight: bold;
}
div#all_menu > div > ul > li > ul > li > a:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: -15px;
  width: 8px;
  height: 2px;
  background: #333;
  transform: rotate(45deg);
}

div#all_menu > div > ul > li > ul > li > a:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 40%;
  left: -15px;
  width: 8px;
  height: 2px;
  background: #333;
  transform: rotate(-45deg);
}

div#all_menu > div > ul > li:first-child > ul > li {
  padding-left: 20%;
}
div#all_menu > div > ul > li:nth-child(2) > ul > li {
  padding-left: 23%;
}
div#all_menu > div > ul > li:nth-child(3) > ul > li {
  padding-left: 18%;
}
div#all_menu > div > ul > li:nth-child(4) > ul > li {
  padding-left: 9%;
}
div#all_menu > div > ul > li:nth-child(5) > ul > li {
  padding-left: 9%;
}

div#all_menu > div > ul.all_menu_list > li:nth-child(2) > ul {
  width: 12%;
}
div#all_menu > div > ul.all_menu_list > li:nth-child(3) > ul {
  width: 12%;
}
div#all_menu > div > ul.all_menu_list > li:nth-child(4) > ul {
  width: 15%;
}
div#all_menu > div > ul.all_menu_list > li:nth-child(5) > ul {
  width: 15%;
}
/*전체메뉴*/

/*서브메뉴*/

ul.nav_list > li.nav_li > ul.sub_menu {
  position: absolute;
  top: 79px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  height: 360px;
  background: white;
  display: none;
  overflow: hidden;
  z-index: 100;
  overflow: hidden;
}
ul.nav_list > li.nav_li > ul.sub_menu > li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
ul.nav_list > li.nav_li > ul.sub_menu > li > ul {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2em;
}

ul.nav_list > li.nav_li > ul.sub_menu > li > ul > * {
  letter-spacing: ;
}
ul.nav_list > li.li2 > ul.sub_menu > li > ul {
  overflow: hidden;
}
ul.nav_list > li.nav_li > ul.sub_menu > li > ul > li:hover > a {
  font-weight: bold;
  color: black;
}

/*네비게이션 서브메뉴 브랜드 스토리*/
ul.nav_list > li.li1 > ul.sub_menu {
}
ul.nav_list > li.li1 > ul.sub_menu > li > ul {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  font-size: 0.75em;
}
ul.nav_list > li.li1 > ul > li li {
  float: left;
}
ul.nav_list > li.li1 > ul > li li:first-child {
  width: 18%;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
ul.nav_list > li.li1 > ul > li li:first-child p {
  width: 100%;
  margin: 0 auto;
  font-size: 1.7em;
  color: #666;
}
ul.nav_list > li.li1 > ul > li li:first-child span {
  display: block;
  font-size: 1.3em;
  color: #000;
  font-weight: bold;
  line-height: 2.7em;
}
ul.nav_list > li.li1 > ul > li li:nth-child(2) {
  width: 33%;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  font-size: 2em;
  position: relative;
  margin-right: 4%;
}
ul.nav_list > li.li1 > ul > li li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 1%;
  height: 80%;
  width: 2px;
  background: #444;
}

ul.nav_list > li.li1 > ul > li li:nth-child(2) a {
  display: block;
  line-height: 2.5em;
  margin: 15px 0;
}
ul.nav_list > li.li1 > ul > li li:nth-child(2) a:hover {
  color: black;
  font-weight: bold;
}

ul.nav_list > li.li1 > ul > li li:nth-child(3) {
  width: 45%;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
ul.nav_list > li.li1 > ul > li li:nth-child(3) div {
  width: 100%;
}
ul.nav_list > li.li1 > ul > li li:nth-child(3) div img {
  display: block;
  width: 48%;
  float: left;
}
ul.nav_list > li.li1 > ul > li li:nth-child(3) div img:first-child {
  margin-right: 4%;
}

/*네비게이션 메뉴메뉴*/
ul.nav_list > li.li2 > ul.sub_menu > li > ul > li:nth-child(1) {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  color: #666;
}
ul.nav_list > li.li2 > ul.sub_menu > li > ul > li:nth-child(1) > p {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
}

ul.nav_list > li.li2 > ul.sub_menu > li > ul > li:nth-child(n + 2) {
  width: 7%;
  float: left;
  margin-left: 6.5%;
  text-align: center;
}
ul.nav_list > li.li2 > ul.sub_menu > li > ul > li:nth-child(n + 2) > a > p {
  color: #666;
}
ul.nav_list > li.li2 > ul.sub_menu > li > ul > li:nth-child(n + 2) img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10%;
  transition: 0.5s;
}

ul.nav_list > li.li2 > ul.sub_menu > li > ul > li:nth-child(2) {
  margin-left: 19%;
}
ul.nav_list
  > li.li2
  > ul.sub_menu
  > li
  > ul
  > li:nth-child(n + 2)
  > a:hover
  > img {
  transform: rotate(7deg);
}

/*네비게이션 스토어*/
ul.nav_list > li.li3 > ul.sub_menu > li > ul {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li {
  float: left;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:first-child {
  width: 30%;
  margin-left: 10%;
  margin-right: 3%;
  padding-top: 4.5%;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:first-child > p > a {
  display: block;
  width: 50%;
  float: left;
  font-size: 1.2em;
  line-height: 2.5em;
  text-align: center;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:first-child > p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 70px;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:hover > p > a {
  color: #666;
  font-weight: normal;
  text-align: center;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:first-child > p > a:hover {
  color: #000;
  font-weight: bold;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:nth-child(1) img {
  width: 100%;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:nth-child(1) > div {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #666;
  overflow: hidden;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:nth-child(1) > div > * {
  outline: none;
  margin-right: 1%;
  font-size: 1.1em;
  height: 35px;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:nth-child(1) > div > select {
  width: 30%;
  float: left;
  display: block;
  text-align-last: center;
  padding-left: 10px;
  border: none;
  vertical-align: middle;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:nth-child(1) > div > input {
  width: 50%;
  float: left;
  display: block;
  padding-left: 10px;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:nth-child(1) > div > a {
  width: 40px;
  float: left;
  display: block;
  background: transparent;
  border: none;
  padding: 2px 6px 10px 6px;
}

ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:last-child {
  width: 50%;
  height: 170px;
  overflow: hidden;
  margin-top: 0.5em;
  float: right;
  margin-right: 7%;
}

ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:last-child > div {
  width: 49%;
  float: left;
  text-indent: -99999em;
  height: 100%;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:last-child > div:first-child {
  margin-right: 2%;
  background: url(../img/index/nav_store_store.jpg) no-repeat 10% center;
  background-size: cover;
}
ul.nav_list > li.li3 > ul.sub_menu > li > ul > li:last-child > div:last-child {
  background: url(../img/index/nav_store_menu.jpg) no-repeat 10% center;
  background-size: cover;
}

/*네비게이션 스토어*/

/*네비게이션 조이 이벤트*/

ul.nav_list > li.li4 > ul.sub_menu > li > ul {
  overflow: hidden;
}
ul.nav_list > li.li4 > ul.sub_menu > li > ul > li {
  float: left;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  border-right: 1px solid black;
  margin-left: 7%;
}
ul.nav_list > li.li4 > ul.sub_menu > li > ul > li#text_box {
  font-size: 1.2em;
  color: #000;
}
ul.nav_list > li.li4 > ul.sub_menu > li > ul > div {
  float: left;
  width: 20%;
  margin-left: ;
  padding-left: 3%;
}

ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > li > a {
  width: 100%;
  display: block;
  line-height: 56.667px;
}
/*ul.nav_list>li.li4>ul.sub_menu>li>ul>div>li:hover>a{font-weight:bold; color:black;}*/
li > a.joy_font {
  font-weight: bold;
  color: black;
}
ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div {
  position: absolute;
  width: 35%;
  top: 70px;
  left: 48%;
  height: 180px;
  overflow: hidden;
  display: none;
}
ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div#sub_event_box img {
  width: 100%;
  vertical-align: bottom;
}

ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div#sub_member_box > a {
  background: url(../img/joy/nav_member_background.jpg) no-repeat center center;
  background-size: 100%;
}

ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div#sub_app_box > a {
  background: url(../img/index/mobile/mobile_nav.jpg) no-repeat center center;
  background-size: 100%;
}

ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div > a {
  text-indent: -9999em;
  display: block;
  width: 100%;
  height: 100%;
}

ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div#sub_event_box > a {
  text-indent: 0;
}

ul.nav_list > li.li4 > ul.sub_menu > li > ul > div > div#sub_event_box > a {
  float: left;
  width: 19.9%;
  margin-right: 2%;
  display: block;
  position: relative;
}

ul.nav_list
  > li.li4
  > ul.sub_menu
  > li
  > ul
  > div
  > div#sub_event_box
  > a:last-child {
  margin-right: 0%;
}
/*
ul.nav_list>li.li4>ul.sub_menu>li>ul>div>li#sub_app:hover>div{display:block;}
ul.nav_list>li.li4>ul.sub_menu>li>ul>div>li#sub_member:hover>div{display:block;}

/*네비게이션 */

/*네비게이션 프랜차이즈*/

ul.nav_list > li.li5 > ul.sub_menu {
  overflow: hidden;
}

ul.nav_list > li.li5 > ul.sub_menu > li > ul {
  overflow: hidden;
  width: 60%;
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li {
  float: left;
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(1) {
  width: 40%;
  margin-right: 3%;
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(1) > img {
  width: 100%;
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(2) {
  width: 30%;
  margin-right: 3%;
}
ul.nav_list
  > li.li5
  > ul.sub_menu
  > li
  > ul
  > li:nth-child(2)
  > p:nth-child(1) {
  font-size: 1.2em;
  letter-spacing: 0.04em;
}
ul.nav_list
  > li.li5
  > ul.sub_menu
  > li
  > ul
  > li:nth-child(2)
  > p:nth-child(1)
  > span {
  font-weight: bold;
}

ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(2) > i {
  display: block;
  width: 90%;
  background: black;
  height: 3px;
  margin: 3% 0;
}
ul.nav_list
  > li.li5
  > ul.sub_menu
  > li
  > ul
  > li:nth-child(2)
  > p:nth-child(3) {
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(3) {
  width: 24%;
  border-left: 1px solid #666;
  padding-left: 2%;
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(3) > ul > li {
  width: 100%;
}
ul.nav_list > li.li5 > ul.sub_menu > li > ul > li:nth-child(3) > ul > li > a {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 2em;
}
ul.nav_list
  > li.li5
  > ul.sub_menu
  > li
  > ul
  > li:nth-child(3)
  > ul
  > li
  > a:hover {
  font-weight: bold;
  color: black;
}

/*네비게이션 프렌차이즈*/

/*네브 헤더*/

/*footer*/
footer.end {
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
  overflow: hidden;
  border-top: 1px solid #aaa;
}
div.end_f {
  width: 70%;
  margin: 0 auto;
}

div.end_left {
  width: 50%;
  text-align: left;
  float: left;
  overflow: hidden;
  color: #999;
}

div.end_left p {
  margin-bottom: 1%;
  color: #999;
}
div.end_left h1 {
  width: 35%;
  margin-bottom: 3%;
}
div.end_left p.full {
  width: 80%;
  text-align: left;
}
div.end_left p.full address {
  color: #999;
}
div.end_left div.half {
  overflow: hidden;
  width: 100%;
}
div.end_left div.half p {
  width: 34%;
  text-align: left;
  float: left;
}
div.end_left h1 img {
  width: 100%;
}
div.end_right {
  width: 50%;
  overflow: hidden;
  position: relative;
  padding-bottom: 3%;
}
div.end_right ul.fotter_menu {
  width: 100%;
  overflow: hidden;
}

div.end_right div.fotter_sns {
  position: absolute;
  bottom: 0;
  right: 1%;
  width: 17%;
  overflow: hidden;
}
div.end_right div.fotter_sns a {
  width: 30%;
  display: block;
  float: left;
  margin: 0 1.666%;
}
div.end_right div.fotter_sns a > img {
  width: 100%;
  vertical-align: bottom;
}

ul.fotter_menu {
  overflow: hidden;
}
ul.fotter_menu li.fotter_menu_main {
  width: 17%;
  margin-left: 3%;
  float: left;
  font-size: 1.1em;
}

ul.fotter_menu li.fotter_menu_main > a {
  display: block;
  width: 100%;
  color: #999;
  text-align: left;
  line-height: 1.5em;
  font-weight: bold;
}
ul.fotter_menu li.fotter_menu_main > a:hover {
  color: #000;
}

ul.fotter_menu li.fotter_menu_main ul.fotter_sub_menu li a {
  display: block;
  width: 100%;
}

ul.fotter_menu li.fotter_menu_main ul.fotter_sub_menu li a:hover {
  font-weight: bold;
  color: black;
}
