section.form_warp {
  width: 100%;
  margin: 0 auto;
  background: none;
  padding: 1% 0;
  margin-bottom: 5%;
}
section.form_warp article.form_box {
  width: 40%;
  margin: 0 auto;
}
section.form_warp form {
  width: 100%;
  margin: 0 auto;
}
section.form_warp h1 {
  width: 100%;
  margin: 0 auto;
  font-size: 2.5em;
}
section.new_member_wrap article div.meta_3 p {
  color: black;
  font-weight: bold;
}
section.new_member_wrap article > div.meta_3 > a > img:nth-child(1) {
  display: none;
}
section.new_member_wrap article > div.meta_3 > a > img:nth-child(2) {
  display: block;
}

section.form_warp h3 {
  width: 100%;
  margin: 0 auto;
  margin-top: ;
  font-size: 2em;
  padding-left: 3%;
}
section.form_warp form table {
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: 1%;
  border-collapse: collapse;
}

section.form_warp article.form_box form table tr {
  width: 100%;
  border-bottom: 1px solid #999;
  padding: 1% 0;
  padding-left: 1%;
  border-collapse: collapse;
}
section.form_warp article.form_box form table tr > * {
  padding: 3.5% 0;
  border-collapse: collapse;
  text-align: left;
}
section.form_warp article.form_box form table tr th {
  width: 22%;
  padding-left: 5%;
  background: #fafafa;
}
section.form_warp article.form_box form table tr td {
  width: 70%;
  padding-left: 1%;
}
section.form_warp article.form_box form table tr td * {
  padding: 1.1% 0;
  padding-left: 1%;
}
section.form_warp article.form_box form table tr > * > * {
  height: 2.7em;
  line-height: 1.4em;
  font-size: 1.2em;
}

input {
  vertical-align: middle;
  background: transparent;
  border: 1px solid black;
}
input[name="number"] {
  width: 15%;
  vertical-align: middle;
}
section.form_warp article.form_box form table tr input[type="button"] {
  width: 18%;
  text-align: center;
  background: #fafafa;
  border: 1px solid black;
  outline: none;
  padding: 1.1% 0;
  vertical-align: middle;
}

section.form_warp article.form_box form table tr td select {
  width: 13%;
  vertical-align: middle;
}
section.form_warp article.form_box form table tr input[type="button"]:hover {
  color: white;
  background: #444;
}
input#address_a {
  width: 60%;
  display: block;
}
input#address_a:nth-child(3) {
  margin: 1.2% 0;
}
::placeholder {
  color: #666;
  font-size: 0.8em;
  line-height: 3em;
}
input#id,
input#pw1,
input#pw2 {
  width: 35%;
}

input.reg_box {
  width: 25%;
}

input#email {
  width: 35%;
}
input#email + select {
  width: 35%;
}

div.input_box {
  width: 40%;
  margin: 0 auto;
  margin-top: 3%;
  overflow: hidden;
}
div.input_box * {
  display: block;
  width: 60%;
  padding: 3%;
  font-size: 1.3em;
  color: #666;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}

div.input_box *:hover {
  color: #fafafa;
  font-weight: bold;
  background: #222;
}
