/*메타포*/

section.new_member_wrap {
  width: 100%;
  margin: 2% 0;
  padding: 3% 0;
  margin-top: 100px;
}
section.new_member_wrap h1 {
  text-align: center;
  font-size: 2.7em;
  margin-bottom: 3%;
}
section.new_member_wrap article.new_member_f {
  width: 55%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
section.new_member_wrap article.new_member_f div {
  width: 13%;
  margin: 0 6%;
  float: left;
  text-align: center;
}
section.new_member_wrap article.new_member_f p.line {
  width: 15%;
  border-top: 0.5px solid black;
  position: absolute;
  top: 45%;
}
section.new_member_wrap article.new_member_f p.line:nth-child(1) {
  left: 17%;
}
section.new_member_wrap article.new_member_f p.line:nth-child(2) {
  left: 42%;
}
section.new_member_wrap article.new_member_f p.line:nth-child(3) {
  right: 17%;
}
section.new_member_wrap article div img {
  width: 70%;
  display: blocsk;
  margin: 4% auto;
}
section.new_member_wrap article > div > a > img:nth-child(2) {
  display: none;
}
section.new_member_wrap article div p {
  color: #777;
  font-size: 1.2em;
}
section.new_member_wrap article div > p {
  font-weight: bold;
}
section.new_member_wrap article div:hover p {
  color: black;
  font-weight: bold;
}
section.new_member_wrap article > div > a {
  position: relative;
}
section.new_member_wrap article > div:hover > a > img:nth-child(1) {
  display: none;
}
section.new_member_wrap article > div:hover > a > img:nth-child(2) {
  display: block;
}

/*메타포*/
