header#page_background {
  background: url(../img/store/store_map_background.jpg) no-repeat center 50%;
  background-size: cover;
}
header#page_background::after {
  content: "FIND STORE";
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em;
  font-size: 4em;
  font-weight: bold;
}

header#page_background > nav.store_nav > ul > li > a[href="store_map.html"] {
  border-bottom: 3px solid black;
  color: #000;
  font-weight: bold;
}

section.map_box {
  width: 100%;
}

section.map_box > h1 {
  width: 70%;
  text-align: center;
  margin: 3% auto;
  font-size: 2.5em;
  position: relative;
  margin: 7% auto;
  margin-bottom: 3%;
}

section.map_box > h1 > span {
  background: white;
  padding: 0 3%;
}
section.map_box > h1::after {
  content: "";
  position: absolute;
  height: 2px;
  background: black;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: -1;
}

section.map_box article.map {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  padding: 11.5% 0;
  overflow: hidden;
  position: relative;
}
section.map_box article.map div {
  float: left;
  overflow: hidden;
  position: absolute;
}
section.map_box article.map div.text {
  width: 28%;
  height: 100%;
  border: 1px solid black;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 8% 4%;
}

section.map_box article.map div.text img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
section.map_box article.map div.text > hr {
  margin: 15% auto;
  width: 70%;
}
section.map_box > article.map > div.text > ul > li {
  font-size: 1.2em;
  margin-bottom: 2%;
}
section.map_box article.map div.text > ul > li > small {
  display: inline-block;
  width: 28%;
}
section.map_box article.map div.google_map {
  width: 70%;
  height: 100%;
  left: 30%;
  top: 0;
  margin: 0 auto;
  border: 1px solid black;
}
section.map_box article.map div.google_map iframe {
  width: 100%;
  vertical-align: bottom;
}

table,
th,
td {
  border-collapse: collapse;
}
section.store_text {
  width: 100%;
  margin-top: 3%;
}
section.store_text article.store_box {
  width: 70%;
  margin: 0 auto;
}
article.store_box table.store_table {
  width: 100%;
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 5%;
}
table.store_table tr:first-child {
  border-top: 1px solid black;
}
table.store_table tr > td,
th {
  text-align: left;
  padding: 1.4% 1%;
  text-align: center;
  border-bottom: 1px solid black;
}
table.store_table tr > th:nth-child(1) {
  width: 15%;
  text-align: center;
  background: #f0f0f0;
}
table.store_table tr > td:nth-child(2) {
  width: 25%;
}
table.store_table tr > td:nth-child(3) {
  width: 40%;
  text-align: right;
  padding-right: 10%;
}
table.store_table tr > td:nth-child(3) > label {
  width: 90%;
  text-align: right;
  margin-right: 10%;
  display: block;
}

table.store_table thead tr th {
  padding: 1%;
}
table.store_table tr td:nth-child(3) > label {
  cursor: pointer;
}
table.store_table tbody tr:hover td {
  color: #666;
}

table.store_table tr td:nth-child(4) {
  width: 15%;
  text-align: center;
}
table.store_table tr.table_all td:nth-child(1) {
  padding: 0;
  margin: 0;
  background: transparent;
  color: black;
  border: none;
}
table.store_table tr.table_all {
  display: none;
  border-bottom: 1px solid black;
}

table.store_table tr div {
  float: left;
  padding-top: 25%;
  overflow: hidden;
  margin-bottom: 3%;
}
table.store_table tr div:nth-child(1) {
  width: 75%;
  position: relative;
}
table.store_table tr div:nth-child(1) iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 85%;
  height: 300px;
}
table.store_table tr div:nth-child(2) {
  width: 20%;
  position: relative;
  right: 0%;
  top: 0;
  overflow: hidden;
}
table.store_table tr div:nth-child(2) p {
  width: 100%;
  position: absolute;
  left: 0;
  top: 10%;
  text-align: left;
}
input.store_check {
  display: none;
}
input#store_map_1:checked ~ table.store_table tr#table_map1 {
  display: table-row;
}
input#store_map_2:checked ~ table.store_table tr#table_map2 {
  display: table-row;
}
input#store_map_3:checked ~ table.store_table tr#table_map3 {
  display: table-row;
}
input#store_map_4:checked ~ table.store_table tr#table_map4 {
  display: table-row;
}
input#store_map_5:checked ~ table.store_table tr#table_map5 {
  display: table-row;
}
input#store_map_6:checked ~ table.store_table tr#table_map6 {
  display: table-row;
}
input#store_map_7:checked ~ table.store_table tr#table_map7 {
  display: table-row;
}
input#store_map_8:checked ~ table.store_table tr#table_map8 {
  display: table-row;
}
input#store_map_9:checked ~ table.store_table tr#table_map9 {
  display: table-row;
}
