header#page_background {
  border-bottom: 1px solid #f9f9f9;
}

header#page_background > nav.store_nav {
  width: 100%;
  overflow: hidden;
}
header#page_background > nav.store_nav > ul {
  width: 20%;
  margin: auto;
}
header#page_background > nav.store_nav > ul > li {
  width: 50%;
  float: left;
}
header#page_background > nav.store_nav > ul > li > a {
  color: #333;
}
